.form {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin-bottom: 104px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  width: 300px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

@media screen and (min-width: 768px) {
  .title {
    width: 704px;
  }
}

.working__form {
  padding-top: 140px;
  text-align: center;
}

.input {
  width: 328px;
  height: 54px;
  margin-top: 50px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.62;

  border: 1px solid #d0cfcf;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .input {
    width: 364px;
  }
}

.text {
  margin: 4px auto 25px 16px;
  font-size: 12px;
  line-height: 1.17;
  color: #7e7e7e;
}

.select {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 47px;
}

.select__title {
  margin: 0 0 11px 0;
  font-weight: 400;
  line-height: 1;
}

.radio {
  margin-right: 12px;
  margin-bottom: 7px;
}

.label {
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 1.62;
}

button.upload {
  width: 83px;
  height: 54px;

  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
  background-color: transparent;
  cursor: pointer;
}

button.upload:hover {
  background-color: transparent;
}

/* input[type='file'] {
  border-color: red;
} */

input#file-upload-button {
  border: none;
}

.input__upload {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: -83px;
  width: 360px;
  height: 54px;

  background-color: transparent;

  border-left: none;
  outline: none;
  cursor: pointer;
}

.upload__text {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 16px;
  color: #7e7e7e;
  cursor: pointer;
}

.upload__label {
  position: relative;
  width: 274px;
  height: 52px;
  border: 1px solid #d0cfcf;
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

@media screen and (min-width: 768px) {
  .input__upload {
    width: 380px;
  }

  .upload__label {
    width: 297px;
  }
}

.upload__form {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.submit {
  margin-left: auto;
  margin-right: auto;
}
