.hero {
  padding: 34px 0 65px 0;
  text-align: center;
  background-image: url(../../images/image-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 89px 0 88px 0;
    background-image: url(../../images/image-tab.png);
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-image: url(../../images/image-desk.png);
  }
}

.container {
  width: 328px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 904px;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    width: 1170 px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hero .title,
  .hero .text {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text {
  margin-top: 0;
  margin-bottom: 32px;
  color: #fff;
  font-size: 16px;
  line-height: 1.62;
}
