.header {
  width: 360px;
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 1024px;
  }
}

@media screen and (min-width: 2560px) {
  .header {
    width: 2560px;
  }
}

.container {
  display: flex;
  align-items: center;
  width: 328px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 904px;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    width: 1170px;
  }
}

.nav {
  margin-left: auto;
}

.logo {
  width: 104px;
  height: 26px;
  background-image: url(../../images/Logo.svg);
  background-repeat: no-repeat;
}

.button:first-child {
  margin-right: 10px;
}
