@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  section {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 2560px) {
  section {
    width: 1170px;
    margin: 0 auto;
  }
}

button {
  width: 100px;
  height: 38px;
  background: #f4e041;
  border-radius: 80px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ffe302;
}
